body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: url('library.jpg') no-repeat center center/cover;
    color: #f5e6d3;
    transition: 0.3s;
}

/* Dark Mode */
body.dark {
    background-color: #111;
    background-image: none;
    color: #ddd;
}

/* Author Photo */
.author-photo {
    position: fixed;
    top: 15px;
    left: 20px;
}
.author-photo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #ffcc99;
}

/* Theme Button */
#themeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    background: black;
    color: gold;
    cursor: pointer;
    font-weight: bold;
}

/* Main Container */
.container {
    text-align: center;
    padding-top: 150px;
}

/* Title */
h1 {
    font-size: 42px;
    letter-spacing: 2px;
}

/* Bio */
.bio {
    font-size: 18px;
    margin-bottom: 40px;
    opacity: 0.9;
}

/* Cards */
.card-link {
    text-decoration: none;
}

.book-card {
    width: 60%;
    margin: 20px auto;
    padding: 25px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    transition: 0.3s;
}

.book-card:hover {
    transform: scale(1.03);
    background: rgba(255,165,0,0.3);
}

/* Card Title */
.book-title {
    font-size: 22px;
    font-weight: bold;
    color: gold;
}

/* About Button */
#aboutBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 12px 22px;
    border-radius: 20px;
    border: none;
    background: black;
    color: gold;
    cursor: pointer;
}

/* Popup */
#aboutPopup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

/* Popup Box */
.popup-content {
    background: #111;
    color: gold;
    padding: 25px;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

/* Close Button */
#closePopup {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
}
